.validateOnline {
  font-size: 14px;
  margin-bottom: 10px;
  color: green;
}

.validateOnline b {
  margin-right: 10px;
}

.renderErrorInfo {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid red;
}

.renderErrorInfo-details {
  display: flex;
}
.renderErrorInfo-details-key {
  margin-right: 10px;
}

.renderErrorInfo-details-val {
  color: red;
}
